{{> header }}

<main class="page">
  <h1> Album: {{album.title}} </h1>
  
  {{#if album.photos}}
    <main class="photos">
      {{#each album.photos}}
        <a href="/photo/{{id}}"><img src="/{{url}}" alt="userPhoto" height="100" class="photo"/></a>
      {{/each}}
    </main>
  {{else}}
    <div> Album is empty. </div>
  {{/if}}
</main>