{{> header }}

<main class="page">
  <h1> Create new album </h1>
  
  {{#if photos}}
    <form action="/albums/new" method="post">
      <input type="text" name="title" placeholder="Album title" />
      {{#each photos}}
        <input type="checkbox" name="photos" value="{{id}}" />
        <a href="/photo/{{id}}"><img src="/{{url}}" alt="userPhoto" height="100" class="photo"/></a>
      {{/each}}
      <textarea placeholder="Album description" name="description" class="post-form__input"></textarea>
      <input type="submit" value="Submit" class="button">
    </form>
  {{else}}
    <div> No photos for new album. </div>
  {{/if}}
</main>