{{> header }}

<main class="page">

  <form action="/post" class="post-form" method="post">
    <textarea placeholder="Express yourself..." name="content" class="post-form__input"></textarea>
    <input type="submit" value="Post" class="post-form__submit"/>
  </form>

  {{> posts}}
</main>
