<h1>Welcome, please login</h1>

<form action="/login" class="js-login-form" method="post">
	<input type="text" placeholder = "Email address" class="js-email" name = "email"/>
	<input type="password" placeholder = "Password" class="js-password" name="password"/>
	<input type="submit"/>
</form>

<form action="/register" method="get">
   <input type="submit" value="Register" name="Submit" id="" />
</form>
	
