<h1>Welcome, please login</h1>

<form action="/login" class="js-login-form" method="post">
	<input type="text" placeholder = "Email address" class="js-email" name="email"/>
	<span class="js-login-email-error js-login-error"></span>

	<input type="password" placeholder="Password" class="js-password" name="password"/>
	<span class="js-login-password-error js-login-error"></span>
	
	<input type="submit"/>
	<span class="js-login-missing-error js-login-error"></span>
</form>

<a href="/register">Register</a>
	
