{{#if user}}
	<h3>You are already registered. Redirecting...</h3>
{{else}}
	<h1>Welcome to registration page</h1>
	<form action="/register" class="js-register-form" method="post">
		<div>
			<label>First name:</label>
			<input type="text" class="js-first-name" name="firstName"/>
		</div>
		<span class="js-register-firstName-error js-register-error"></span>

		<div>
			<label>Last name:</label>
			<input type="text" class="js-last-name" name="lastName"/>
		</div>
		<span class="js-register-lastName-error js-register-error"></span>

		<div>
			<label>Email:</label>
			<input type="text" class="js-email" name="email"/>
		</div>
		<span class="js-register-email-error js-register-error"></span>

		<div>
			<label>Password:</label>
			<input type="password" class="js-password" name="password"/>
		</div>
		<span class="js-register-password-error js-register-error"></span>

		<div>
			<label>Date of birth:</label>
			<input type="date" class="js-date-of-birth" name="dateOfBirth"/>
		</div>
		<span class="js-register-dateOfBirth-error js-register-error"></span>

		<div>
			<input type="submit" value="Submit" />
		</div>
		<span class="js-register-missing-error js-register-error"></span>
	</form>
	<a href="/login">Login</a>
{{/if}}