<main class="page-card-container">
  <h1 class="page-card-title"> Welcome to registration page </h1>

  <form action="/register" class="page-card js-register-form form" method="post">
    <label class="form-label">
      <span> Email: </span>
      <input type="text" class="js-email" name="email"/>
    </label>

    <label class="form-label">
      <span> Password: </span>
      <input type="password" class="js-password" name="password"/>
    </label>

    <label class="form-label">
      <span> First name: </span>
      <input type="text" class="js-first-name" name="firstName"/>
    </label>

    <label class="form-label">
      <span> Last name: </span>
      <input type="text" class="js-last-name" name="lastName"/>
    </label>

    <label class="form-label">
      <span> Date of birth: </span>
      <input type="date" class="js-date-of-birth" name="dateOfBirth"/>
    </label>

    <input class="form-submit" type="submit" value="Submit" />
  </form>
</main>
