<a href="/home">Home</a>

<form action="/search" class="js-search-form" method="get">
	<input type="text" class="js-search" placeholder="Search" name="query"/>
	<input type="submit" value="Search"/>
</form>

<h1> Search results </h1>

{{#each users}}
	<a href="/profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a><br>
{{else}}
  <p>No results.</p>
{{/each}}

<a href="/logout">Logout</a>
