.form {

}

.form-label {
  display: block;
  margin-bottom: 16px;

  input {
    border: 0;
    border-bottom: 1px solid #191919;
    font-size: 16px;
    margin-top: 4px;
    width: 100%;
  }
}

.form-submit {
  padding: 12px;
  -webkit-appearance: none;
  border: 0;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  background-color: $color-primary;
  color: white;
  cursor: pointer;
}
