.page {
  @extend %container;
  padding: 20px; 
}

.page-card {

}

.page-card-title {
  margin-bottom: 50px;
}

.page-card-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
