.comment {
  padding-left: 20px;
  border-left: 4px solid #A9A9A9;
  margin: 10px 0;

  .comment__info {
    display: flex;
    justify-content: space-between;
  }

  .comment__content {
    margin: 5px 0;
  }
}
