.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: $color-primary;
  color: $color-text-white;
  padding: 10px;

  &__logo {
    padding: 0 10px;
    color: $color-text-white;
  }

  &__search {
    flex: 1;
    padding: 0 10px;
    display: flex;

  }

  &__search-input {
    border: 0;
    min-width: 200px;
  }

  &__search-submit {
    -webkit-appearance: none;
    border: 0;
    background: $color-primary;
    color: $color-text-white;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__current-user {
    a {
      color: $color-text-white;
    }
  }

  &__current-user-requests {
    a {
      color: $color-text-white;
    }
  }
}
