<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Rudimentalna drustvena mreza </title>
    <link rel="stylesheet" href="/public/styles.css">
    <script src="/public/app.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
